<section>
  <article>
    <md-card>
      <md-card-content class="text-center">
        <a href="/" class="push-bottom-md">
          <img src="/assets/logo/logo-text-black.png">
        </a>
        <md-input-container fxFlexFill>
          <input mdInput placeholder="Email" #loginInput>
        </md-input-container>
        <div class="push-top-sm">
          <md-input-container fxFlexFill>
            <input mdInput placeholder="Password" type="password" #passwordInput>
          </md-input-container>
        </div>
        <div class="push-top-sm">
          <md-input-container fxFlexFill>
            <input mdInput placeholder="Confirm Password" type="password" #confirmPasswordInput>
          </md-input-container>
        </div>
        <button md-raised-button color="primary" class="push-top-sm" (click)="signUn(loginInput.value, passwordInput.value)">SIGN UP</button>
        <div class="push-top-md">Already have an account?</div>
        <a routerLink="/login" class="primary-color">Login here</a>
      </md-card-content>
    </md-card>
  </article>
</section>
