<section>
  <header>
    <h3 class="primary-color">File upload</h3>
  </header>
  <article>
    <md-card>
      <md-card-title>File Input</md-card-title>
      <md-card-content>
        <div fxLayout="row">
          <md-input-container tdFileDrop
                              (click)="fileInput.inputElement.click()"
                              (keyup.enter)="fileInput.inputElement.click()"
                              (keyup.delete)="fileInput.clear()"
                              (keyup.backspace)="fileInput.clear()" fxFlex>
            <input mdInput
                   placeholder="select or drop files"
                   [value]="files?.length ? (files?.length + ' files') : files?.name"
                   readonly/>
          </md-input-container>
          <button md-icon-button *ngIf="files" (click)="fileInput.clear()" (keyup.enter)="fileInput.clear()">
            <md-icon class="icon-color">cancel</md-icon>
          </button>
          <td-file-input class="push-left-sm push-right-sm" #fileInput [(ngModel)]="files" multiple>
            <md-icon>folder</md-icon>
            <span class="text-upper">Browse...</span>
          </td-file-input>
          <span>
            <button md-raised-button color="accent" [disabled]="!files" class="text-upper">Submit</button>
          </span>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>File Upload Button</md-card-title>
      <md-card-content>
        <td-file-upload #singleFileUpload>
          <md-icon>file_upload</md-icon>
          <span>{{ singleFileUpload.files?.name }}</span>
          <ng-template td-file-input-label>
            <md-icon>attach_file</md-icon>
            <span>Choose a file...</span>
          </ng-template>
        </td-file-upload>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>Multiple File Upload Button</md-card-title>
      <md-card-content>
        <td-file-upload #fileMultipleUpload
                        accept=".sql" defaultColor="primary" activeColor="accent" cancelColor="warn" multiple>
          <md-icon>file_upload</md-icon>
          <span>
            {{ fileMultipleUpload.files?.name || fileMultipleUpload.files?.length }}
            <span *ngIf="fileMultipleUpload.files?.length">files selected</span>
          </span>
          <ng-template td-file-input-label>
            <md-icon>attach_file</md-icon>
            <span>Choose multiple .sql files...</span>
          </ng-template>
        </td-file-upload>
      </md-card-content>
    </md-card>
  </article>
</section>
